@import './variables.scss';

.login {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    .login--nav {
        position: absolute;
        top: 0;
        border: 2px solid $darker-main-color;
        border-radius: 10px;
        margin-top: 10px;
        margin-left: 10px;
        li {
            margin-bottom: 10px;
        }
    }

    @media screen and (min-width: 768px) {
        .login--nav {
            margin-left: 30px;
        }
    }

    .login--form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .login--nav--link {
        font-weight: bold;
    } 

    .ml {
        margin-left: 5px;
    }
}

