@import './home.scss';
@import './variables.scss';
@import './login.scss';
@import './notes.scss';
@import './note.scss';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: $darker-gray;
}

html {
    font-family: 'Poppins', sans-serif;
}

textarea {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(212, 212, 212);
}

textarea:focus {
    background-color: rgb(226, 226, 226);
}

textarea::-webkit-scrollbar {
    width: 10px;
    background-color: $gray;
}

textarea::-webkit-scrollbar-thumb {
    background-color: $main-color;
    border-radius: 10px;
}

ul {
    list-style: none;
    transform: translateX(-1em);
}

li {
    list-style: none;
    transform: translateX(-1em);
}

button {
    background-color: $main-color;
    width: 80px;
    height: 30px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: $darker-main-color;
}

.link {
    text-decoration: none;
    color: $main-color;
    transition-duration: 0.4s;
}

.link:hover{
    color: $darker-main-color;
}

input {
    margin-bottom: 10px;
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 10px;
    outline: none;
}
    
@media screen and (min-width: 768px) {
    input {
        width: 500px;
    }
}