$main-color: #0069cc;
$secondary-color: #4300df;
$font-color: #000000;
$darker-main-color: #0043be;
$gray: rgba(148, 148, 148, 0.5);
$white-gray: #0069cc2d;
$white-gray-focus:  #0069cca8;
$darker-gray: rgba(92, 92, 92, 0.5);